<h4>You've chosen your plants, now place them!</h4>
<h5>Remaining plot size: <%= @size %> cm2</h5>

<h6>Select the number of each plant desired</h6>

<% @plants.each do |plant| %>
  <%= plant.name %>
  <%= link_to "Increase Amount", "/users/gardens/#{@garden.id}/plants/increase", method: :put %>
  <%= link_to "Decrease Amount", "/users/gardens/#{@garden.id}/plants/decrease", method: :put %><br>
<% end %>
