<%= button_to "Create a new garden", "/users/gardens/new", method: :get%>
<br>
<% if current_user.gardens.any? %>
  <% @gardens.each do |garden| %>
    <%= link_to "#{garden.name}", "/users/gardens/#{garden.id}"%><br>
    <p>Current Plants in Garden:</p>
    <%= "#{garden.plants.map {|plant| plant.name}.uniq.join(", ")}" %><br>
    <%= link_to "Add plants to garden", "/users/gardens/#{garden.id}/plants/new"%><br>
  <% end %>
<% end %>
