<section class="center">
  <h1> Welcome to Grow Ops! </h1>

  <%= image_tag("grow_ops_logo.png", :alt => "rss feed") %>

  <h3>Grow Ops is an application for gardeners, new and experienced alike.<br><br>
  What will you grow today?</h3><br>

  <div class ='google-button'>
    <a class="btn btn-primary" href="/auth/google_oauth2" role="button" style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Login with Google
    </a>
  </div>
</section>
