<h1> Welcome to Grow Ops! </h1>

<%= image_tag("grow_ops_logo.png", :alt => "rss feed") %>

<h3>Grow Ops is an application for gardeners, new and experienced alike.<br><br>
What will you grow today?</h3>
