/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #flash-alert {
 	color: red;
 	margin: 10px 0px 20px 0px;
 }

 body  {
   background-image: url("https://cdn1.photostockeditor.com/c/1512/green-close-up-photo-of-green-leaf-macro-macro-image.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     margin-bottom: 50px;
     padding:0;
     height:100%;

 }
