#main-nav {
  display: flex;
  justify-content: flex-end;
}

#main-nav a {
  padding: 0px 0px 0px 30px;
  font-weight: 600;
}

#main-nav #favorite {

}

.google-button {
  display: flex;
  justify-content: center;
  margin: 10%;
}

footer {
	margin: 100px 0 50px 0px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	width: 60%;
	display: flex;
	justify-content: flex-start;
	align-self: center;
}

footer small {
	display: block;
	width: 70%;
	text-align: left;
	font-style: italic;
	font-size: .8em;
	line-height: 20px;
}
