#main-nav {
  display: flex;
  justify-content: flex-end;
}

#main-nav a {
  padding: 0px 0px 0px 30px;
  font-weight: 600;
}

#main-nav #favorite {

}

.google-button {
  display: flex;
  justify-content: center;
  margin: 10%;
}

/* footer {
	margin: 100px 0 50px 0px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-self: center;
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
} */

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  height: 50px;
  background: #343a40;
  color: white;
  margin-top: 100px;
}

/* footer small {
	display: block;
	width: 100%;
	text-align: left;
	font-style: italic;
	font-size: .8em;
	line-height: 20px;
} */

.center {
  text-align: center;
}

#plant-show { border: 5px black solid; }
