<div class="center">
  <h4><%= @garden.name %></h4><br>
  <h4>Current Plants in Garden:</h4>
</div>

<div class="container mt-4">
  <div class="row">
<% @plants.each do |plant| %>
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title center"><%= link_to "#{plant.name}", "/users/gardens/#{plant.id}"%></h5>
                <img class="card-img-top" src="<%= plant.image %>" alt="<%= plant.name %>" style="width:250px;height:250px;">
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
